.home {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

.dashboard {
  flex: 0.8;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  color: white;
  padding: 20px 30px;
  background-color: #121212;
  overflow-y: overlay;
}

.dashboard_body {
  display: flex;
}
